.bar {
  margin: 0 15px;
}

.top_bar {
  background-color: #ffffff;
  padding: 30px 60px;
  border-bottom: 1px solid #cfcfcf;
  /* margin: 0 15px; */
}

.menu_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left_side {
  display: flex;
  margin-right: 20px;

  /* align-items: center; */
}

.menus {
  display: flex;
  margin-left: 40px;
}

.menus .menu {
  margin-right: 40px;
  border-bottom: 3px solid #0084ff;
  font-size: 14px;
}

.logo {
  font-family: "Obelix Pro";
  font-size: 20px;
  font-weight: 700;
}

.filter_bar{
  background-color: #ffffff;
  padding: 20px 60px;
}

.key{
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.65);
}