@import "tailwindcss";

@font-face {
  font-family: Obelix Pro;
  src: url("./assets/fonts/obelixpro/ObelixPro-cyr.ttf");
}

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Obelix Pro" !important;
}

.bg_img {
  background: url("./../public/enter_bg.png");
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.main {
  position: relative;
  height: 100vh;
}

.super_heroes_img {
  /* width: 35%; */
}

.super_heroes {
  position: absolute;
  width: 30%;
  left: 14%;
  /* top: 30px; */
  top: 3%;
}

/* FONT */
.primary_font {
  font-family: "Obelix Pro" !important;
}

.text_area {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  display: flex;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}

.text_area .text {
  font-size: 2.5em;
  font-weight: 700;
  color: white;
  line-height: 50px;
}

.enter_button {
  font-family: "Obelix Pro";
  background-color: #f9873d;
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-weight: 600;
  color: white;
}

.spider_man {
  width: 25%;
  position: absolute;
  right: 20px;
}

/* MOBILE */

/* @media screen and (max-width: 412px) and (max-width: 429px) {
  .super_heroes {
    width: 65%;
    top: 37%;
  }
} */

@media screen and (max-width: 430px) {
  .bg_img {
    background: url("./../public/enter_bg.png") -110px -100px / cover;
  }

  .super_heroes {
    width: 50%;
    position: absolute;
    top: 31%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .text_area {
    top: 75%;
    transform: translate(-50%, -50%);
  }

  .text_area .text {
    font-size: 1.8em;
    line-height: 35px;
  }

  .spider_man {
    display: none;
  }
}
