@import "tailwindcss";

@font-face {
  font-family: Obelix Pro;
  src: url("./assets/fonts/obelixpro/ObelixPro-cyr.ttf");
}

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Obelix Pro" !important;
}