.layout {
  margin: 50px 120px;
}

.content {
  position: absolute;
  width: 100%;
  bottom: 10px;
  color: #fff;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.team {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  margin-top: 5px;
}

.name {
  font-size: 20px;
  font-family: "Obelix Pro" !important;
}

.rot_button {
  display: flex;
  justify-content: center;
}

.text {
  margin-right: 10px;
}

.img_container {
  position: relative;
  cursor: pointer;
}

.img_container:hover {
  outline: 3px solid #f9873d;
  outline-offset: -3px;
}

/* MOBILE */

@media screen and (max-width: 430px) {
  .layout {
    margin: 30px 30px;
  }
}
