.layout {
  margin: 50px 120px;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

/* MOBILE */

@media screen and (max-width: 430px) {
  .layout {
    margin: 30px 30px;
  }
}
